<h3>新規登録</h3>🔴

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>
  <div class="container">
    <div class="row mb-2">
      <div class="col-3">
        <%=f.label :nickname,"ニックネーム"%>
      </div>
      <div class="col-9">
        <%=f.text_field :nickname%>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <%=f.label :age,"年齢"%>
      </div>
      <div class="col-9">
        <%= f.select :age, [['10代','10代'], ['20代', '20代'], ['30代', '30代'], ['40代','40代'], ['50代','50代'], ['60代','60代'], ['70代','70代'],['非公開','非公開']]%> <!--ageをinteger型じゃなくてstring型にして['20代', "20代"]でもいい-->
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <%=f.label :gender,"性別"%>
      </div>
      <div class="col-9">
        <%= f.radio_button :gender, "男性" %>男
        <%= f.radio_button :gender, "女性", class: "ml-3" %>女
        <%= f.radio_button :gender, "非公開" , class: "ml-3" %>非公開
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <%=f.label :email,"メールアドレス" %>
      </div>
      <div class="col-9">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3">
        <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %>
      </div>
      <div class="col-9">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= f.label :password_confirmation, "パスワード(確認用)" %>
      </div>
      <div class="col-9 mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
    <div class="register mb-3">
      <%= f.submit "新規登録をする", class: "btn"%>
    </div>
  </div>
<%end%>

<div class="mr-5">
  <%= render "user/shared/links" %>
</div>



