<h4 class="ml-3">お問い合わせ詳細</h4>
<div class="container mt-5">
  <div class="row mb-2">
    <div class="col-4">
      お問い合わせ物件
    </div>
    <div class="col-8">
      <%= @contact.property.property_name %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> 名前
    </div>
    <div class="col-8">
      <%=@contact.name %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> フリガナ
    </div>
    <div class="col-8">
      <%=@contact.name_kana %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> 性別
    </div>
    <div class="col-8">
      <%=@contact.gender%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> 年齢
    </div>
    <div class="col-8">
      <%=@contact.age%>歳
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> 国籍
    </div>
    <div class="col-8 mb-2">
      <%=@contact.nationality%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> メールアドレス
    </div>
    <div class="col-8">
      <%=@contact.email%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-primary mr-2">任意</span>電話番号
    </div>
    <div class="col-8">
      <%=@contact.telephone_number%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-primary mr-2">任意</span>現住所
    </div>
    <div class="col-8">
      <%=@contact.address%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-primary mr-2">任意</span>職業
    </div>
    <div class="col-8">
      <%=@contact.occupation%>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> 入居予定日
    </div>
    <div class="col-8">
      <%=@contact.schedule%>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> 希望項目
    </div>
    <div class="col-8 mb-2">
      <%=@contact.hope%>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <span class="text-danger mr-2">必須</span> お問い合せ内容
    </div>
    <div class="col-8 mb-2 writing">
      <%=@contact.contact%>
    </div>
  </div>
</div>

<div class="ml-3"><%= link_to "お問い合わせ一覧" , admin_contacts_path %></div>


