<%@reviews.each do |review|%>
  <p><%=review.property.property_name%></p>
  <p><%=review.title%></p>
  <p><%=review.text%></p>

　<% if review.atmosphere == 0 %>
    住民の雰囲気 良い<%= image_tag "1.jpg" %>良くない<br>
  <% elsif review.atmosphere == 1 %>
    住民の雰囲気 良い<%= image_tag "2.jpg" %>良くない<br>
  <% elsif review.atmosphere == 2 %>
    住民の雰囲気 良い<%= image_tag "3.jpg" %>良くない<br>
  <% elsif review.atmosphere == 3 %>
    住民の雰囲気 良い<%= image_tag "4.jpg" %>良くない<br>
  <% elsif review.atmosphere == 4 %>
    住民の雰囲気 良い<%= image_tag "5.jpg" %>良くない<br>
  <%end%>
  <% if review.cleanliness_shared == 0 %>
    共有部の清潔さ 清潔<%= image_tag "1.jpg" %>不衛生<br>
  <% elsif review.cleanliness_shared == 1 %>
    共有部の清潔さ 清潔<%= image_tag "2.jpg" %>不衛生<br>
  <% elsif review.cleanliness_shared == 2 %>
    共有部の清潔さ 清潔<%= image_tag "3.jpg" %>不衛生<br>
  <% elsif review.cleanliness_shared == 3 %>
    共有部の清潔さ 清潔<%= image_tag "4.jpg" %>不衛生<br>
  <% elsif review.cleanliness_shared == 4 %>
    共有部の清潔さ 清潔<%= image_tag "5.jpg" %>不衛生<br>
  <%end%>
  <% if review.congestion_shared == 0 %>
    水回りの混雑具合　いつでも使える<%= image_tag "1.jpg" %>良く混雑している<br>
  <% elsif review.congestion_shared == 1 %>
    水回りの混雑具合　いつでも使える<%= image_tag "2.jpg" %>良く混雑している<br>
  <% elsif review.congestion_shared == 2 %>
    水回りの混雑具合　いつでも使える<%= image_tag "3.jpg" %>良く混雑している<br>
  <% elsif review.congestion_shared == 3 %>
    水回りの混雑具合　いつでも使える<%= image_tag "4.jpg" %>良く混雑している<br>
  <% elsif review.congestion_shared == 4 %>
    水回りの混雑具合　いつでも使える<%= image_tag "5.jpg" %>良く混雑している<br>
  <%end%>
  <% if review.noise_shared == 0 %>
    共有部から部屋への音漏れ　静か<%= image_tag "1.jpg" %>騒がしい<br>
  <% elsif review.noise_shared == 1 %>
    共有部から部屋への音漏れ　静か<%= image_tag "2.jpg" %>騒がしい<br>
  <% elsif review.noise_shared == 2 %>
    共有部から部屋への音漏れ　静か<%= image_tag "3.jpg" %>騒がしい<br>
  <% elsif review.noise_shared == 3 %>
    共有部から部屋への音漏れ　静か<%= image_tag "4.jpg" %>騒がしい<br>
  <% elsif review.noise_shared == 4 %>
    共有部から部屋への音漏れ　静か<%= image_tag "5.jpg" %>騒がしい<br>
  <%end%>
  <% if review.noise_room == 0 %>
    隣の部屋からの音漏れ 静か<%= image_tag "1.jpg" %>騒がしい<br>
  <% elsif review.noise_room == 1 %>
    隣の部屋からの音漏れ 静か<%= image_tag "2.jpg" %>騒がしい<br>
  <% elsif review.noise_room == 2 %>
    隣の部屋からの音漏れ 静か<%= image_tag "3.jpg" %>騒がしい<br>
  <% elsif review.noise_room == 3 %>
    隣の部屋からの音漏れ 静か<%= image_tag "4.jpg" %>騒がしい<br>
  <% elsif review.noise_room == 4 %>
    隣の部屋からの音漏れ 静か<%= image_tag "5.jpg" %>騒がしい<br>
  <%end%>
  <% if review.net_speed == 0 %>
  　ネット速度　速い<%= image_tag "1.jpg" %>遅い<br>
  <% elsif review.net_speed == 1 %>
    ネット速度　速い<%= image_tag "2.jpg" %>遅い<br>
  <% elsif review.net_speed == 2 %>
    ネット速度　速い<%= image_tag "3.jpg" %>遅い<br>
  <% elsif review.net_speed == 3 %>
    ネット速度　速い<%= image_tag "4.jpg" %>遅い<br>
  <% elsif review.net_speed == 4 %>
    ネット速度　速い<%= image_tag "5.jpg" %>遅い<br>
  <%end%>
  <% if review.shower == 0 %>
  　シャワーの水圧　強い<%= image_tag "1.jpg" %>弱い<br>
  <% elsif review.shower == 1 %>
    シャワーの水圧　強い<%= image_tag "2.jpg" %>弱い<br>
  <% elsif review.shower == 2 %>
 　　シャワーの水圧　強い<%= image_tagz"3.jpg" %>弱い<br>
  <% elsif review.shower == 3 %>
    シャワーの水圧　強い<%= image_tag "4.jpg" %>弱い<br>
  <% elsif review.shower == 4 %>
    シャワーの水圧　強い<%= image_tag "5.jpg" %>弱い<br>
  <%end%>
   <% if review.event == 0 %>
  　パーティーやイベントの開催　頻繁にある<%= image_tag "1.jpg" %>一切ない<br>
  <% elsif review.event == 1 %>
    パーティーやイベントの開催　頻繁にある<%= image_tag "2.jpg" %>一切ない<br>
  <% elsif review.event == 2 %>
 　　パーティーやイベントの開催　頻繁にある<%= image_tag "3.jpg" %>一切ない<br>
  <% elsif review.event == 3 %>
    パーティーやイベントの開催　頻繁にある<%= image_tag "4.jpg" %>一切ない<br>
  <% elsif review.event == 4 %>
    パーティーやイベントの開催　頻繁にある<%= image_tag "5.jpg" %>一切ない<br>
  <%end%>

  <%=review.user.nickname%>
  <%=review.user.gender%>
  <%=review.user.age %>代
  <%=review.relation_i18n%>
  <%=review.relation_detail_i18n%>
<%end%>

