<h3 class="mt-4">マイページ</h3>

  <div class="row">
    <div class="col-1 mr-4">
      <%= image_tag @user.get_image(100,100)%>
    </div>
    <div class="col-2 mt-2">
      <p><%=@user.nickname%></p>
      <p><%=@user.age%>代</p>
      <p><%=@user.gender%></p>
    </div>
    <div class="col-3 edit">
      <%= link_to "編集する",edit_user_path,class: "btn"%>
    </div>
  </div>





 <div class="wrap">
   <ul id="tab-menu">
      <li><a href="#tab1" class="active ">投稿した口コミ</a></li>
      <li><a href="#tab2" class="">投稿した質問</a></li>
      <li><a href="#tab3" class="">投稿したコメント</a></li>
      <li><a href="#tab4" class="">投稿したリプライ</a></li>
      <li><a href="#tab5" class="">ハウスルール</a></li>
   </ul>
 </div>

 <div id="tab-contents">
   <div id="tab1" class="tab">
    <% @reviews.each do |review| %>
    <h5 class="ml-3"><%= review.property.property_name %></h5>
    <div class="mb-5">
      <p class="mb-3 ml-3"><%=review.title%></p>
      <p class="mb-4 ml-3"><%=review.body%></p>
      <%= render '/user/properties/review', review: review %>

    </div>
    <% end %>
  </div>

  <div id="tab2" class="tab">
    <% @questions.each do |question| %>
    <h5 class="user-q"><%= question.property.property_name %></h5>
    <%= render 'user/properties/question', question: question, comment: @comment,comment_comment: @comment_comment %>
    <%end%>
  </div>

  <div id="tab3" class="tab">
    <% @comment_questions.each do |comment_question| %>
      <h5 class="user-q"><%= comment_question.property.property_name %></h5>
      <%= render 'user/properties/question', question: comment_question, comment: @comment, comment_comment: @comment_comment %>
    <% end %>
  </div>

  <div id="tab4" class="tab">
    <% @comment_comment_questions.each do |comment_comment_question| %>
      <h5 class="user-q"><%= comment_comment_question.property.property_name %></h5>
      <%= render 'user/properties/question', question: comment_comment_question, comment: @comment, comment_comment: @comment_comment %>
    <% end %>
  </div>

  　<div id="tab5" class="tab">
      <div class="rule rule01">
        <h3 class="text-center">シェアしたハウスルール</h3>
        <% @property_rules.each do |property|%>
          <h6 class="mt-4"><%=property.property_name %></h6>
          <% property.rules.where(user: current_user).each do |rule|%>
            <p>•<%= rule.body %></p>
          <% end %>
        <% end %>
      </div>
　　</div>
</div>
</div>




