<h3 class="mt-4">マイページ</h3>
<div class="row">
  <div class="col-2 mt-2">
    <p><%= @user.nickname %></p>
    <p><%= @user.age %></p>
    <p><%= @user.gender %></p>
  </div>
  <div class="col-3 edit">
    <%= link_to "編集する",edit_user_path,class: "btn" %>
  </div>
</div>

<div class="wrap">
  <ul id="tab-menu">
    <li><a href="#tab1" class="active ">口コミ</a></li>
    <li><a href="#tab2" class="">質問</a></li>
    <li><a href="#tab3" class="">回答</a></li>
    <li><a href="#tab4" class="">コメント</a></li>
    <li><a href="#tab5" class="">ハウスルール</a></li>
    <li><a href="#tab6" class="">お問い合わせ</a></li>
  </ul>
</div>

<div id="tab-contents">
  <div id="tab1" class="tab">
    <% if @reviews.present? %>
      <h5 class="mb-5">全<%=@reviews.count %>件</h5>
      <% @reviews.each do |review| %>
        <%= link_to property_path(review.property.id) do %>
          <div class="user-property font-weight-bold"><%= review.property.property_name %></div>
        <% end %>
        <div class="mb-5">
          <p class="mb-3"><%= review.title %></p>
          <p class="mb-4"><%= review.body %></p>
          <%= render '/user/properties/review', review: review %>
        </div>
      <% end %>
    <% else %>
      <h6 class="mt-4">投稿した口コミがありません</h6>
    <% end %>
  </div>

  <div id="tab2" class="tab">
    <% if @questions.present? %>
      <h5>全<%= @questions.count %>件</h5>
      <% @questions.each do |question| %>
        <%= link_to property_path(question.property.id) do %>
          <div class="user-property user-q font-weight-bold"><%= question.property.property_name %></div>
        <%end%>
        <%= render 'user/properties/question', question: question, comment: @comment,comment_comment: @comment_comment %>
      <% end %>
    <% else %>
      <h6 class="mt-4">投稿した質問がありません</h6>
    <% end %>
  </div>

  <div id="tab3" class="tab">
    <% if @comment_questions.present? %>
      <h5>全<%= @comments.count %>件</h5>
      <% @comment_questions.each do |comment_question| %>
        <%= link_to property_path(comment_question.property.id) do %>
          <div class="user-property user-q font-weight-bold"><%= comment_question.property.property_name %></div>
        <%end%>
        <%= render 'user/properties/question', question: comment_question, comment: @comment, comment_comment: @comment_comment %>
      <% end %>
    <% else %>
      <h6 class="mt-4">投稿した回答がありません</h6>
    <% end %>
  </div>

  <div id="tab4" class="tab">
    <% if @comment_comment_questions.present? %>
      <h5>全<%= @comment_comments.count %>件</h5>
      <% @comment_comment_questions.each do |comment_comment_question| %>
        <%= link_to property_path(comment_comment_question.property.id) do %>
          <div class="user-property user-q font-weight-bold"><%= comment_comment_question.property.property_name %></div>
        <%end%>
        <%= render 'user/properties/question', question: comment_comment_question, comment: @comment, comment_comment: @comment_comment %>
      <% end %>
    <% else %>
      <h6 class="mt-4">投稿したコメントがありません</h6>
    <% end %>
  </div>

  <div id="tab5" class="tab">
    <% if @property_rules.present? %>
      <div class="rule rule01 ml-5">
        <h3 class="text-center">シェアしたハウスルール</h3>
        <% @property_rules.each do |property| %>
          <%= link_to property_path(property.id) do %>
            <div class="user-property-rule mt-4 ml-2"><%= property.property_name %></div>
          <%end%>
          <% property.rules.where(user: current_user).each do |rule| %>
            <p class="mb-3">• <%= rule.body %></p>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <h6 class="mt-4">投稿したハウスルールがありません</h6>
    <% end %>
  </div>

  <div id="tab6" class="tab">
    <% if @contacts.present? %>
      <h5 class="mb-5">全<%= @contacts.count %>件</h5>
      <h4 class="mt-5">お問い合わせ内容</h4>
      <% @contacts.each do |contact| %>
        <%= render 'user/contacts/contact', contact: contact %>
      <%end%>
    <% else %>
      <h6 class="mt-4">お問い合わせがありません</h6>
    <% end %>
  </div>
</div>























