<h2>マイページ</h2>
<table>
  <tr><th></th><td><%= link_to "編集する",edit_user_path%></td></tr>
  <tr><th></th><td><%= image_tag @user.get_image(100,100)%></td></tr>
  <tr><th></th><td><%=@user.nickname%></td></tr>
  <tr><th></th><td><%=@user.age%>代</td></tr>
  <tr><th></th><td><%=@user.gender%></td></tr>
 </table>

 <h3><%= link_to"投稿した口コミ", review_path %></h3>
 <h3><%= link_to "投稿した質問",question_path %></h3>
 <h3><%=link_to "投稿したコメント",comment_path %></h3>
 <%=link_to "退会する",quit_path%>


