<h2>関係性を選ぶ</h2>
<%=form_with url: new_property_review_path,method: :get do |f| %> 
    <%=f.radio_button :relation,"now"%>
    <%=f.label :relation,"住民"%>

    <%=f.radio_button :relation,"past"%>
    <%=f.label :relation_detail1,"元住民"%>
    <%= f.select :relation_detail1, [['2022年頃まで住んでいた',1], ['2021年頃まで住んでいた',2], ['2020年頃まで住んでいた',3],['2019年頃まで住んでいた',4],['2018年頃まで住んでいた',5],['それ以前に住んでいた',6]],{prompt: '選択してください'} %>
    <!--モデルが関連している選択ボックス (2行目&データベースから取ってきてないからこの書き方でいい　データベースから取ってきてたらnagano_cakeのやり方　>
    <%=f.radio_button :relation,"others"%>
    <%=f.label :relation_detail2,"その他"%>
    <%= f.select :relation_detail2, [['入居検討者',1],['入居予定者',2],['周辺住民',3],['住人の知人',4],['大家さん',5],['不動産関係者',6],['その他',7]],{prompt: '選択してください'} %>

     <%=f.submit '次へ進む'%>
<%end%>


<!--relation_detailは番号を保存するカラム>