<!--review:--> <%#= @review.relation_detail %>
<%= form_with model: @review,url:  property_reviews_path do |f| %>
  <h3>タイトル</h3>
  <%= f.text_field :title %>
  <h3>本文</h3>
  <%= f.text_area :text %>
  <%= f.hidden_field :relation,value: @review.relation %>
  <%= f.hidden_field :relation_detail ,value: @review.relation_detail %>
  <%= f.submit"投稿する" %>
<%end%>