<!--review:--> <%#= @review.relation_detail %>

<%= form_with model: @review_relation, url: property_reviews_path do |f| %>

<h2>関係性を選ぶ</h2>
<%#=form_with  model: @review_relation_new,url: new_property_review_path,method: :get do |f| %>

    <p><%=f.radio_button :relation, Review.relations.key(0) %>
    <%=f.label :relation, Review.relations_i18n[:resident] %></p>


    <p><%=f.radio_button :relation, Review.relations.key(1) %>
    <%=f.label :relation, Review.relations_i18n[:former_resident] %></p>
    <%= f.select :relation_detail1, [['2022年頃まで住んでいた','twenty_two'], ['2021年頃まで住んでいた','twenty_one'], ['2020年頃まで住んでいた','twenty'], ['2019年頃まで住んでいた','nineteen'], ['2018年頃まで住んでいた','eighteen'], ['それ以前に住んでいた','before_that']],{prompt: '選択してください'} %>

    <!--モデルが関連している選択ボックス (2行目)&データベースから取ってきてないからこの書き方でいいデータベースから取ってきてたらnagano_cakeのやり方-->
    <p><%=f.radio_button :relation, Review.relations.key(2) %>
    <%=f.label :relation, Review.relations_i18n[:others] %></p>
    <%= f.select :relation_detail2, [['入居検討者','kentosya'], ['入居予定者','yoteisya'], ['周辺住人','syuhenjunin'], ['住人の知人','chizin'], ['大家さん','oya'], ['不動産関係者','kankeisya'], ['その他','sonota']],{prompt: '選択してください'} %>

     <%#=f.submit '次へ進む'%>
<%#end%>




  <h2>住民の雰囲気</h2>
  良い
  <%= f.radio_button :atmosphere, '0' %>
  <%= f.radio_button :atmosphere, '1' %>
  <%= f.radio_button :atmosphere, '2' %>
  <%= f.radio_button :atmosphere, '3' %>
  <%= f.radio_button :atmosphere, '4' %>
  良くない

  <h2>共有部の清潔さ</h2>
  清潔
  <%= f.radio_button :cleanliness_shared,'0' %>
  <%= f.radio_button :cleanliness_shared,'1' %>
  <%= f.radio_button :cleanliness_shared,'2' %>
  <%= f.radio_button :cleanliness_shared,'3' %>
  <%= f.radio_button :cleanliness_shared,'4' %>
  不衛生

  <h2>水回りの混雑具合</h2>
  いつでも使える
  <%= f.radio_button :congestion_shared, '0' %>
  <%= f.radio_button :congestion_shared, '1' %>
  <%= f.radio_button :congestion_shared, '2' %>
  <%= f.radio_button :congestion_shared, '3' %>
  <%= f.radio_button :congestion_shared, '4' %>
  良く混雑している

  <h2>共有部から部屋への音漏れ</h2>
  静か
  <%= f.radio_button :noise_shared,'0' %>
  <%= f.radio_button :noise_shared,'1' %>
  <%= f.radio_button :noise_shared,'2' %>
  <%= f.radio_button :noise_shared,'3' %>
  <%= f.radio_button :noise_shared,'4' %>
  騒がしい

  <h2>隣の部屋からの音漏れ</h2>
  静か
  <%= f.radio_button :noise_room,'0' %>
  <%= f.radio_button :noise_room,'1' %>
  <%= f.radio_button :noise_room,'2' %>
  <%= f.radio_button :noise_room,'3' %>
  <%= f.radio_button :noise_room,'4' %>
  騒がしい

   <h2>ネット速度</h2>
  速い
  <%= f.radio_button :net_speed,'0' %>
  <%= f.radio_button :net_speed,'1' %>
  <%= f.radio_button :net_speed,'2' %>
  <%= f.radio_button :net_speed,'3' %>
  <%= f.radio_button :net_speed,'4' %>
  遅い

   <h2>シャワーの水圧</h2>
  強い
  <%= f.radio_button :shower,'0' %>
  <%= f.radio_button :shower,'1' %>
  <%= f.radio_button :shower,'2' %>
  <%= f.radio_button :shower,'3' %>
  <%= f.radio_button :shower,'4' %>
  遅い

   <h2>パーティーやイベントの開催</h2>
  頻繁にある
  <%= f.radio_button :event,'0' %>
  <%= f.radio_button :event,'1' %>
  <%= f.radio_button :event,'2' %>
  <%= f.radio_button :event,'3' %>
  <%= f.radio_button :event,'4' %>
  一切ない


  <h3>タイトル</h3>
  <%= f.text_field :title %>
  <h3>本文</h3>
  <%= f.text_area :text %>
  <%#= f.hidden_field :relation,value: @review_relation.relation %>
  <%#= f.hidden_field :relation_detail,value: @review_relation.relation_detail %>
  <%= f.submit"投稿する" %>

  住み続けたい?<%= f.radio_button :repeat,'0' %>はい
  <%= f.radio_button :repeat,'1' %>いいえ
  <%= f.radio_button :repeat,'2' %>わからない

<%end%>
