<h3 class="mt-4">閲覧履歴</h3>
<% if @histories.present? %>
  <h5 class="text-left mt-4">全<%= @histories_count %>件</h5>
  <% @histories.each do |history| %>
    <div class="row">
      <div class="col-xl-3 col-7 mt-3">
        <%= link_to property_path(history.property.id) do %>
          <%= history.property.property_name %>
        <% end %>
      </div>
      <div class="col-xl-6 col-5 mt-3">
        <%= link_to "履歴から削除", history_path(history.id), method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="pagination"><%= paginate @histories, theme: 'twitter-bootstrap-4' %></div>
<% else %>
  <h6 class="mt-4">閲覧履歴がありません</h6>
<% end %>

