<h3 class="mt-4">閲覧履歴</h3>
<% if @histories.present? %>
  <h5 class="text-left mt-4">全<%=@histories. count%>件</h5>
  <% @histories.each do |history| %>
    <%=link_to property_path(history.property.id) do%>
      <div class="mb-4 mt-3">
        <%= history.property.property_name %>&nbsp;&nbsp;&nbsp;
        <%= link_to "履歴から削除", history_path(history.id), method: :delete %>
      </div>
    <%end%>
  <%end%>
<%else%>
  <h6 class="mt-4">閲覧履歴がありません</h6>
<%end%>
<div class="pagination"><%= paginate @histories %></div>
Footer
