

<%= form_with  url: search_path, method: :get do |f|%>

  <div class="text-center">
    <h3>エリアを選ぼう</h3>

    <ul id="areamap_detail">
      <%= f.collection_check_boxes :area_id, Area.all, :id, :area_name %>
    </ul>
  </div>
　<div class="text-center">
　  <h3>家賃を選ぼう</h3>
    <%=f.select :lower_rent, Property.lower_select_rent_table%>〜
    <%=f.select :upper_rent, Property.upper_select_rent_table %>
  </div>

  <div class="text-center">
    <h3>こだわりを選ぼう</h3>

    <%=f.collection_check_boxes :tag_id, @basic_tags, :id, :name do |b| %>
      <% if  b.object.id == 1 %>
        <%= image_tag 'woman.jpg' %>
      <% end %>
      <% if  b.object.id == 2 %>
        <%= image_tag 'gender.jpg' %>
      <% end %>

      <% if  b.object.id == 3 %>
        <%= image_tag 'earth.jpg' %>
      <% end %>

      <% if  b.object.id == 4 %>
        <%= image_tag 'friend.jpg' %>
      <% end %>

      <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
    <% end %>

    <div class="grid-item">

      <%=f.collection_check_boxes :tag_id, @room_tags, :id, :name do |b| %>
        <% if  b.object.id == 5 %>
          <%= image_tag 'noise.jpg' %>
        <% end %>

        <% if  b.object.id == 6 %>
          <%= image_tag 'wide.jpg' %>
        <% end %>

        <% if  b.object.id == 7 %>
          <%= image_tag 'bath.jpg' %>
        <%end %>

        <% if  b.object.id == 8 %>
          <%= image_tag 'toilet.jpg' %>
        <% end %>

        <% if  b.object.id == 9 %>
          <%= image_tag 'kitchen.jpg' %>
        <% end %>

        <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
      <% end %>

</div>

     <div class="grid-item">
      <%=f.collection_check_boxes :tag_id, @shared_facility_tags, :id, :name  %>
    </div>


    </div>

    <div class="grid-item">
      <%=f.collection_check_boxes :tag_id, @surrounding_tags, :id, :name %>

    </div>

    <!--<div class="mb-5">-->
      <div class="grid-item">
      <%=f.collection_check_boxes :tag_id, @other_tags, :id, :name %>
      </div>
    </div>
  <!--</div>-->

  <div class="text-center">
    <h3><%=f.submit 'この条件で検索'%></h3>
  </div>

<%end%>

