<p>色々検索</p>
<div class="text-center mt-3 mb-1">
  <span class="under">住人の口コミによる人気物件</span>
</div>
<h4 class="popular text-center mt-5">住民の雰囲気がいい物件</h4>
<%= render 'ranking', model: @properties_atmosphere %>

<h4 class="popular text-center mt-5">騒音が少ない物件</h4>
<%= render 'ranking', model: @properties_noise %>

<h4 class=" popular text-center mt-5">共有部が清潔な物件</h4>
<%= render 'ranking', model: @properties_cleanliness_shared %>

<h4 class="popular text-center mt-5">水回りの混雑が少ない物件</h4>
<%= render 'ranking', model: @properties_congestion_shared %>


<div class="text-center mt-3">
    <h3 class="mb-4">こだわりを選ぼう</h3>
    <%= f.collection_check_boxes :tag_id, @basic_tags, :id, :name do |b| %>
      <% if  b.object.id == 1 %>
        <%= image_tag 'woman.jpg' %>
      <% end %>
      <% if  b.object.id == 2 %>
        <%= image_tag 'gender.jpg' %>
      <% end %>

      <% if  b.object.id == 3 %>
        <%= image_tag 'earth.jpg' %>
      <% end %>

      <% if  b.object.id == 4 %>
        <%= image_tag 'friend.jpg' %>
      <% end %>

      <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
    <% end %>
    <div class="grid-item mt-2">
      <%= f.collection_check_boxes :tag_id, @room_tags, :id, :name do |b| %>
        <% if  b.object.id == 5 %>
          <%= image_tag 'noise.jpg' %>
        <% end %>

        <% if  b.object.id == 6 %>
          <%= image_tag 'wide.jpg' %>
        <% end %>

        <% if  b.object.id == 7 %>
          <%= image_tag 'bath.jpg' %>
        <%end %>

        <% if  b.object.id == 8 %>
          <%= image_tag 'toilet.jpg' %>
        <% end %>

        <% if  b.object.id == 9 %>
          <%= image_tag 'kitchen.jpg' %>
        <% end %>

        <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
      <% end %>
    </div>

    <div class="grid-item mt-2">
      <%= f.collection_check_boxes :tag_id, @shared_facility_tags, :id, :name do |b| %>
        <% if  b.object.id == 14 %>
          <%= image_tag 'water.jpg' %>
        <% end %>

        <% if  b.object.id == 15 %>
          <%= image_tag 'cook.jpg' %>
        <% end %>

        <% if  b.object.id == 16 %>
          <%= image_tag 'clean.jpg' %>
        <%end %>

        <% if  b.object.id == 17 %>
          <%= image_tag 'rest.jpg' %>
        <% end %>

        <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
      <% end %>
    </div>

    <div class="grid-item mt-2">
      <%= f.collection_check_boxes :tag_id, @surrounding_tags, :id, :name do |b| %>
        <% if  b.object.id == 10 %>
          <%= image_tag 'train.jpg' %>
        <% end %>

        <% if  b.object.id == 11 %>
          <%= image_tag 'shop.jpg' %>
        <% end %>

        <% if  b.object.id == 12 %>
          <%= image_tag 'residential.jpg' %>
        <%end %>

        <% if  b.object.id == 13 %>
          <%= image_tag 'bill.jpg' %>
        <% end %>

        <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
      <% end %>
    </div>

     <div class="grid-item mt-2">
      <%= f.collection_check_boxes :tag_id, @other_tags, :id, :name do |b| %>
        <% if  b.object.id == 18 %>
          <%= image_tag 'bike.jpg' %>
        <% end %>

        <% if  b.object.id == 19 %>
          <%= image_tag 'key.jpg' %>
        <% end %>

        <% if  b.object.id == 20 %>
          <%= image_tag 'event.jpg' %>
        <%end %>

        <% if  b.object.id == 21%>
          <%= image_tag 'event.jpg' %>
        <% end %>

        <%= b.label { b.check_box + b.text } %> <!--if文で選ばれたのをこの１行で表示 -->
      <% end %>
    </div>
  </div>

<h3>特徴から探す</h3>
        <section>
          <div class="accordion">
            <p class="menu menu1">入居者の特性</p>
            <div class="contents">
              <% @basic_tags.each do |basic_tag| %>
                <div><%= link_to basic_tag.name,search_path(tag_id: basic_tag.id, from_top: true) %>&nbsp;&nbsp;&nbsp;</div>
              <% end %>
            </div>

            <p class="menu menu2">部屋</p>
            <div class="contents">
              <% @room_tags.each do |room_tag| %>
                <div><%= link_to room_tag.name,search_path(tag_id: room_tag.id, from_top: true) %>&nbsp;&nbsp;&nbsp;</div>
              <% end %>
            </div>

        <div class="col-xl-5">
        <div class="mb-5">
          <h3>フリーワードで探す</h3>
          <%= form_with url: search_path, method: :get do |f| %>
            <%= f.label :keyword, 'キーワード検索' %>
            <%= f.text_field :keyword %>
            <%= f.submit '検索' ,class: "btn" %>
          <% end %>
        </div>

            <p class="menu menu3">周辺環境</p>
            <div class="contents">
              <% @surrounding_tags.each do |surrounding_tag| %>
                <div><%= link_to surrounding_tag.name,search_path(tag_id: surrounding_tag.id, from_top: true) %>&nbsp;&nbsp;&nbsp;</div>
              <% end %>
            </div>

            <p class="menu menu4">共有設備</p>
            <div class="contents">
              <% @shared_facility_tags.each do |shared_facility_tag| %>
                <div><%= link_to shared_facility_tag.name,search_path(tag_id: shared_facility_tag.id, from_top: true) %>&nbsp;&nbsp;&nbsp;</div>
              <% end %>
            </div>

            <p class="menu menu5">その他</p>
            <div class="contents">
              <% @other_tags.each do |other_tag| %>
                <div><%= link_to other_tag.name,search_path(tag_id: other_tag.id, from_top: true) %>&nbsp;&nbsp;&nbsp;</div>
              <% end %>
            </div>
