
</div>

  <div class="mt-5 mb-5">
    <div class="slicker w-8s5 d-flex mx-auto align-items-center justify-content-center">
      <div>
        <%=image_tag'A-living1.jpg', class:'slide_picture'%>
        <p class="caption">非日常的な空間でシェア暮らし。トレーニングジムで汗を流したりワーキングスペースで集中したり</p>
      </div>

      <div>
        <%=image_tag'top2.jpg', class:'slide_picture'%>
        <p class="caption">ラウンジ、シアタールーム、コワーキングルーム、フィットネスルーム、ルーフトップテラス付きとQOLアップ間違いなし</p>
      </div>
    </div>
  </div>


  <h3 class="text-center mt-5 mb-4">BestHouseとは</h3>
  <p class ="text-center mb-3">BestHouseとは、様々な特徴から検索できる東京都内のシェアハウス検索サイトです
    実際に住んでいる住人のレビューが見れたり、住人に質問できる<br>
    シェアシェアはシェアハウスに特化したシェアハウス情報検索サイトです。
    シェアハウスなどを、ご希望の条件に合わせて、<br>エリア（地域）や沿線（路線）、地図、家賃、こだわり条件などいろいろな方法で検索することができます。<br>
    デザイナーズ、家具家電付き、ペット可、事務所可といったこだわりの人気の条件のシェアハウスも掲載中!!</p>
<div class ="wrapper">



<%#@areas.each do |area|%>
  <%#=link_to area.area_name,seach_path(area_id: area.id, from_top: true)%> <%#左が名前(皆が見てわかりやすい名前)右が値%>
<%#end%>
<div class="container">
  <div class="row area-search">
    <div class="col-7">
      <h3>エリアで探す</h3>

      <ul id="areamap">
      <%@area_groups.each do |area_group|%>
        <li id="areamap_<%= area_group.id %>"><%=link_to area_group.area_group_name,search_path(area_group_id: area_group.id, from_top: true)%></li> <%#左が名前(皆が見てわかりやすい名前)右が値%>
      <%end%>
      </ul>

    </div>

    <div class="col-5">
    <div class="mb-5">
    <h3>フリーワードで探す</h3>
    <%= form_with url: search_keyword_path, method: :get do |f| %>
      <%= f.label :keyword, 'キーワード検索'%>
      <%= f.text_field :keyword %>
      <%= f.submit '検索' ,class: "btn"%>
    <% end %>
    </div>

      <h3>特徴から探す</h3>
      <section>
        <div class="accordion">
          <p class="menu">入居者の特性</p>
          <div class="contents">
            <%@basic_tags.each do |basic_tag|%>
              <div><%=link_to basic_tag.name,search_path(tag_id: basic_tag.id, from_top: true)%>&nbsp;&nbsp;&nbsp;</div>
            <%end%>
          </div>

          <p class="menu">部屋</p>
          <div class="contents">
            <%@room_tags.each do |room_tag|%>
              <div><%=link_to room_tag.name,search_path(tag_id: room_tag.id, from_top: true)%>&nbsp;&nbsp;&nbsp;</div>
            <%end%>
          </div>


          <p class="menu">周辺環境</p>
          <div class="contents">
            <%@surrounding_tags.each do |surrounding_tag|%>
            <div><%=link_to surrounding_tag.name,search_path(tag_id: surrounding_tag.id, from_top: true)%>&nbsp;&nbsp;&nbsp;</div>
            <%end%>
          </div>


          <p class="menu">共有設備</p>
          <div class="contents">
            <%@shared_facility_tags.each do |shared_facility_tag|%>
              <div><%=link_to shared_facility_tag.name,search_path(tag_id: shared_facility_tag.id, from_top: true)%>&nbsp;&nbsp;&nbsp;</div>
            <%end%>
          </div>

          <p class="menu">その他</p>
          <div class="contents">
            <%@other_tags.each do |other_tag|%>
            <div><%=link_to other_tag.name,search_path(tag_id: other_tag.id, from_top: true)%>&nbsp;&nbsp;&nbsp;</div>
            <%end%>
          </div>



        </div>
        </section>
      </div>
    </div>
  </div>
</div>

<h3 class ="text-center">住人による口コミランキング！！</h3>
<section>
  <div class="accordion_rank ">
    <p class="menu">住民の雰囲気がいいシェアハウスランキング</p>
      <div class="contents">
        <% if @properties_atmosphere.present? %>
          <%  @properties_atmosphere.each do |property| %>
            <%=link_to property_path(property.id) do%>
             <p>1位&nbsp;&nbsp;&nbsp;<%= property.property_name %></p>
            <%end%>
            <%= property.reviews.average(:atmosphere).to_f %>点/5.0点中
          <%end%>
        <%else%>
          <p>まだレビューがありません</p>
        <%end%>
      </div>

    <p class="menu">騒音が少ないシェアハウスランキング</p>
      <div class="contents">
        <% if @properties_noise.present? %>
          <% @properties_noise.each do |property| %>
            <%=link_to property_path(property.id) do%>
              <p>1位&nbsp;&nbsp;&nbsp;<%= property.property_name %></p>
            <%end%>
            <%= property.reviews.average(:noise).to_f %>点/5.0点中<br>
          <%end%>
        <%else%>
          <p>まだレビューがありません</p>
        <%end%>
      </div>

    <p class="menu">水回りの混雑が少ないシェアハウスランキング</p>
      <div class="contents">
        <% if @properties_congestion_shared.present? %>
          <% @properties_congestion_shared.each do |property| %>
            <%=link_to property_path(property.id) do%>
              <p>1位&nbsp;&nbsp;&nbsp;<%= property.property_name %></p>
          <%end%>
          <%= property.reviews.average(:congestion_shared).to_f %>点/5.0点中<br>
          <%end%>
        <%else%>
          <p>まだレビューがありません</p>
        <%end%>
      </div>

    <p class="menu">共有部が清潔なシェアハウスランキング</p>
      <div class="contents">
        <% if @properties_cleanliness_shared.present? %>
          <% @properties_cleanliness_shared.each do |property| %>
            <%=link_to property_path(property.id) do%>
              <p>1位&nbsp;&nbsp;&nbsp;<%= property.property_name %></p>
            <%end%>
          <%= property.reviews.average(:cleanliness_shared).to_f %>点/5.0点中<br>
          <%end%>
        <%else%>
          <p>まだレビューがありません</p>
        <%end%>
      </div>
  </div>

  <% @properties_favorites.each do |property| %>
    <%= property.property_name %>
  <%end%>

</section>


<h3 class ="text-right mt-5 mb-5 mr-5"><%=link_to "詳しく探す",about_path%></h3>
</div>


<script>
  const menu = document.querySelectorAll(".menu");

      function toggle() {
        const content = this.nextElementSibling;
        this.classList.toggle("is-active");
        content.classList.toggle("is-open");
      }

      for (let i = 0; i < menu.length; i++) {
        menu[i].addEventListener("click", toggle);
      }

</script>
<script>
  var $jq = jQuery.noConflict();
  $jq(document).on('DOMContentLoaded', function(){
  $jq('.slicker').slick({
    autoplay:true,
    autoplaySpeed: 3000,
    dots:true,
    centerMode: true,
    centerPadding: '250px',
    prevArrow:'<i class="fas fa-arrow-alt-circle-left mr-2"></i>',
    nextArrow:'<i class="fas fa-arrow-alt-circle-right ml-2"></i>'
  });

});



</script>