
<%= image_tag 'top.jpg',class: 'top_picture' %>

<h3>エリアで探す</h3>

<%#@areas.each do |area|%>
  <%#=link_to area.area_name,seach_path(area_id: area.id, from_top: true)%> <%#左が名前(皆が見てわかりやすい名前)右が値%>
<%#end%>
<div class="container">
  <div class="row">
    <div class="col-7">

      <ul id="areamap">
      <%@area_groups.each do |area_group|%>
        <li id="areamap_<%= area_group.id %>"><%=link_to area_group.area_group_name,search_path(area_group_id: area_group.id, from_top: true)%></li> <%#左が名前(皆が見てわかりやすい名前)右が値%>
      <%end%>
      </ul>

    </div>

    <div class="col-5">
    <div class="mb-5">
    <%= form_with url: search_keyword_path, method: :get do |f| %>
      <%= f.label :keyword, 'キーワード検索' %>
      <%= f.text_field :keyword %>
      <br>
      <%= f.submit '検索' %>
    <% end %>
    </div>

      <h3>特徴から探す</h3>
      <section>
        <div class="accordion">
          <p class="menu">入居者の特性</p>
          <div class="contents">
            <%@basic_tags.each do |basic_tag|%>
              <%=link_to basic_tag.name,search_path(tag_id: basic_tag.id, from_top: true)%>
            <%end%>
          </div>

          <p class="menu">部屋</p>
          <div class="contents">
            <%@room_tags.each do |room_tag|%>
              <%=link_to room_tag.name,search_path(tag_id: room_tag.id, from_top: true)%>
            <%end%>
          </div>


          <p class="menu">周辺環境</p>
          <div class="contents">
            <%@surrounding_tags.each do |surrounding_tag|%>
              <%=link_to surrounding_tag.name,search_path(tag_id: surrounding_tag.id, from_top: true)%>
            <%end%>
          </div>


          <p class="menu">共有設備</p>
          <div class="contents">
            <%@shared_facility_tags.each do |shared_facility_tag|%>
              <%=link_to shared_facility_tag.name,search_path(tag_id: shared_facility_tag.id, from_top: true)%>
            <%end%>
          </div>

          <p class="menu">その他</p>
          <div class="contents">
            <%@other_tags.each do |other_tag|%>
              <%=link_to other_tag.name,search_path(tag_id: other_tag.id, from_top: true)%>
            <%end%>
          </div>



        </div>
        </section>
      </div>
    </div>
  </div>
</div>

<h2>住人による口コミランキング！！</h2>
<h3>住民の雰囲気がいいシェアハウスランキング</h3>
<% if @properties_atmosphere.present? %>
  <%  @properties_atmosphere.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:atmosphere).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>

<h3>騒音が少ないシェアハウスランキング</h3>
<% if @properties_noise.present? %>
  <% @properties_noise.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:noise).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>


<h3>水回りの混雑が少ないシェアハウスランキング</h3>
<% if @properties_congestion_shared.present? %>
  <% @properties_congestion_shared.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:congestion_shared).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>

<h3>共有部が清潔なシェアハウスランキング</h3>
<% if @properties_cleanliness_shared.present? %>
  <% @properties_cleanliness_shared.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:cleanliness_shared).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>

<h3>イベントやパーティーによる交流が盛んなシェアハウスランキング</h3>
<% if @properties_event_many.present? %>
  <% @properties_event_many.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:event).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>


<h3>イベントやパーティーによる交流が少ないシェアハウスランキング</h3>
<% if @properties_event_less.present? %>
  <% @properties_event_less.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:distance_sense).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>

<h3>住み続けたいシェアハウスランキング</h3>
<% if @properties_repeat.present? %>
  <% @properties_repeat.each do |property| %>
    <%=link_to property_path(property.id) do%>
      <%= property.property_name %>
    <%end%>
    <%= property.reviews.average(:repeat).to_f %>点/5.0点中<br>
  <%end%>
<%else%>
  <p>まだレビューがありません</p>
<%end%>


<h3><%=link_to "詳しく探す",about_path%></h3>



<script>
  const menu = document.querySelectorAll(".menu");

      function toggle() {
        const content = this.nextElementSibling;
        this.classList.toggle("is-active");
        content.classList.toggle("is-open");
      }

      for (let i = 0; i < menu.length; i++) {
        menu[i].addEventListener("click", toggle);
      }

</script>