
<%= @user.nickname %> さんのユーザー情報編集
<%=form_with model: @user,url: admin_user_path, method: :patch do |f| %>
  <table>
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>ニックネーム</td>
        <td colspan="2"><%=f.text_field :nickname%></td>
      </tr>
      <tr>
        <td>年齢</td>
        <td colspan="2"><%= f.select :age, [['10代','10代'], ['20代', '20代'], ['30代', '30代'], ['40代','40代'], ['50代','50代'], ['60代','60代'], ['70代','70代'],['非公開','非公開']]%></td>
       <!--ageをinteger型じゃなくてstring型にして['20代', "20代"]でもいい-->
      <tr>
        <td>性別</td>
        <td><%= f.radio_button :gender, "男性" %>男</td>
        <td><%= f.radio_button :gender, "女性" %>女</td>
        <td><%= f.radio_button :gender, "非公開" %>非公開</td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
  			<td>会員ステータス</td>
  			<td><%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会済み" %></td>
  			<td><%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効"%></td>
  		</tr>
  		<tr>
  		  <td>会員の利用停止</td>
  		  <td><%= f.radio_button :is_active, true %><%= f.label :is_active, "無効" %></td>
  			<td><%= f.radio_button :is_active, false %><%= f.label :is_active, "有効"%></td>
  		</tr>
  		<tr>
  	    <td><%= f.submit "変更"%></td>
  		</tr>
  	</tbody>
  </table>
<%end%>