 <h2>ユーザー一覧</h2>

 <table>
   <thead>
     <th>ユーザーID</th>
     <th>ユーザー名</th>
     <th>メールアドレス</th>
     <th>ステータス</th>
     <th>利用停止</th>
   </thead>
   <% @users.each do |user| %>
   <tbody>
     <tr>
       <td><%= user.id %></td>
       <td>
         <%=link_to admin_user_path(user.id) do%>
           <%=user.nickname%>
         <%end%>
       </td>
       <td><%= user.email %></td>
       <td>
         <% if user.is_deleted%>
           退会
         <%else%>
           有効
         <%end%>
       </td>
       <td>
         <% if user.is_active%>
           無効
         <%else%>
           有効
         <%end%>
       </td>
     </tr>
   </tbody>
   <%end%>
 </table>

 <%= link_to "Q＆A一覧", admin_questions_path %>
 <%= link_to "レビュー一覧",admin_reviews_path %>
 <%= link_to "お問合わせ一覧",admin_contacts_path %>