<h4 class="ml-3 mt-5"><%= @user.nickname %> さんのユーザー詳細</h4>
<div class="container mt-5">
  <div class="row mb-2">
    <div class="col-3">
      ユーザーID
    </div>
    <div class="col-9">
      <%= @user.id %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3">
      ユーザー名
    </div>
    <div class="col-9">
      <%= @user.nickname %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3">
      年齢
    </div>
    <div class="col-9">
      <%= @user.age %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3">
      性別
    </div>
    <div class="col-9">
      <%= @user.gender %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3">
      メールアドレス
    </div>
    <div class="col-9">
      <%= @user.email %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-3">
      ステータス
    </div>
    <div class="col-9">
      <% if @user.is_deleted%>
        退会
      <%else%>
        有効
      <%end%>
    </div>
  </div>
</div>

<div class="ml-3"><%= link_to "編集する" , edit_admin_user_path %></div>