<div class="question mb-3">
  <h3>質問</h3>
  <span class="under writing"><%=question.title%></span>
  <p class="writing"><%=question.body%></p>
  <%=question.user.nickname%>
  <% unless question.user.gender == "非公開" %>
    <%= question.user.gender %>
  <% end %>
  <% unless question.user.age == "非公開" %>
    <%= question.user.age %>
  <% end %>
  <%=question.relation_i18n%>
  <%= form_with model: comment, url: question_comments_path(question.id) do |f|  %>
    <%= f.text_field :body,:size=>"67x10"%>
    <%= f.select :relation, [['住人','resident'],['元住人','former_resident'],['入居検討者','kentosya'], ['入居予定者','yoteisya'], ['周辺住人','syuhenjunin'], ['住人の知人','chizin'], ['大家さん','oya'], ['不動産関係者','kankeisya'], ['その他','sonota']],{prompt: '選択してください'} %>
    <%= f.submit "この質問に回答する",class: "btn"%>
  <%end%>
</div>

<h3 class="mt-3">回答一覧</h3>
<% question.comments.each do |comment| %>
  <div class="comment_color writing mb-3">
    <p class="mt-4"><%= comment.body %></p>
    <%=comment.user.nickname%>
    <% unless comment.user.gender == "非公開" %>
      <%= comment.user.gender%>
    <% end %>
    <% unless comment.user.age == "非公開" %>
      <%= comment.user.age %>
    <% end %>
    <%=comment.relation_i18n%>
    <div class="mt-2">
      <%= form_with model: comment_comment, url: comment_comment_comments_path(comment_id: comment.id), method: :post do |f|  %>
        <%= f.text_field :body,:size=>"68x10" %>
        <%= f.select :relation, [['住人','resident'],['元住人','former_resident'],['入居検討者','kentosya'], ['入居予定者','yoteisya'], ['周辺住人','syuhenjunin'], ['住人の知人','chizin'], ['大家さん','oya'], ['不動産関係者','kankeisya'], ['その他','sonota']],{prompt: '選択してください'} %>
        <%= f.submit "この回答にコメントする" %>
      <%end%>
    </div>
  </div>
  <% comment.comment_comments.each do |comment_comment| %>
    <p class="sub_comment writing border-bottom">
      <%=comment_comment.body%><br>
      <%=comment_comment.user.nickname%>
      <% unless comment_comment.user.gender == "非公開" %>
        <%= comment_comment.user.gender %>
      <% end %>
      <% unless comment_comment.user.age == "非公開" %>
        <%= comment_comment.user.age %>
      <% end %>
      <%=comment_comment.relation_i18n%></p>
  <%end%>
<%end%>


