<div class="container">
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_atmosphere, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_distance_sence, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_cleanliness_shared, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_noise, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_net_spead, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_shower, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: avg_event, worth: "良くない" %>
</div>
