<div class="container">
  <%=render '/user/properties/review_meter', label: "住民の雰囲気", better: "良い",  point: review.atmosphere, worth: "良くない" %>
  <%=render '/user/properties/review_meter', label: "住人同士の距離感", better: "親しい",  point: review.distance_sense, worth: "あいさつ程度" %>
  <%=render '/user/properties/review_meter', label: "共有部の清潔さ", better: "清潔",  point: review.cleanliness_shared, worth: "不衛生" %>
  <%=render '/user/properties/review_meter', label: "騒音", better: "静か",  point: review.noise, worth: "騒がしい" %>
  <%=render '/user/properties/review_meter', label: "ネット速度", better: "速い",  point: review.net_speed, worth: "遅い" %>
  <%=render '/user/properties/review_meter', label: "シャワーの水圧", better: "強い",  point: review.shower, worth: "弱い" %>
  <%=render '/user/properties/review_meter', label: "パーティーやイベントの開催", better: "頻繁にある",  point: review.event, worth: "少ない" %>
</div>