

<%@properties.each do |property|%>
  <h2><%=property.property_name%></h2>
  <%=property.access%>
  <%=image_tag property.image%>
  <table>
    <tr><th>賃料</th><td><%=property.rent%></td></tr>
    <tr><th>住所</th><td><%=property.address%></td></tr>
    <tr><th>アクセス</th><td><%=property.access%></td></tr>
    <tr><th>入居条件</th><td><%=property.condition%></tds></tr>
    <tr><th>空室</th></th><td><%=property.vacancy%></td></tr>
    <tr><th>特徴</th></th><td><%property.tags.each do |tag|%><%=tag.name%><%end%></td></tr>
    <tr><th></th><td><%=link_to "詳細を見る",property_path(property.id)%></td></tr>
  </table>
<%end%>




