
<%#binding.pry%>
<%@properties.each do |property|%>
  <h2><%=property.property_name%></h2>
  <%=property.access%>
  <%=image_tag property.image%>
  <table>
    <tr><th>賃料</th><td><%=property.rent%></td></tr>
    <tr><th>住所</th><td><%=property.address%></td></tr>
    <tr><th>アクセス</th><td><%=property.access%></td></tr>
    <tr><th>入居条件</th><td><%=property.condition%></tds></tr>
    <tr><th>空室</th></th><td><%=property.vacancy%></td></tr>
    <tr><th>特徴</th></th><td><%property.tags.each do |tag|%><%=tag.name%><%end%></td></tr>
   <%if user_signed_in? %>
     <%=link_to "詳細を見る",property_path(property.id)%>
   <%else%>
     <%= link_to new_user_registration_path do %>
     詳細を見る
     <%end%>
  <%end%>

  </table>
    <%#binding.pry%>
  <%if user_signed_in? %>
    <% if property.favorited_by?(current_user) %>
        <%= link_to property_favorites_path(property.id, 1), method: :delete do %>
          ♥<%= property.favorites.count %> お気に入り
        <% end %>
    <% else %>
          <%= link_to property_favorites_path(property.id), method: :post do %>
          ♡<%= property.favorites.count %> お気に入り
        <% end %>
    <% end %>
  <%else%>
     <%= link_to new_user_registration_path do %>
     ♡<%= property.favorites.count %> お気に入り
     <%end%>
  <%end%>
<%end%>

<%= form_with url: search_path, method: :get do |f|%>
  <h3>エリア</h3>
  <%=f.collection_check_boxes :area_id, Area.all, :id, :area_name, checked: @checkd_areas %>
  <h3>家賃</h3>
  <%=f.select :lower_rent, Property.lower_select_rent_table,{selected: @lower_rent} %>〜
  <%=f.select :upper_rent, Property.upper_select_rent_table,{selected: @upper_rent}%>
  <h3>入居者の特性</h3>
  <%=f.collection_check_boxes :tag_id, @basic_tags, :id, :name, checked: params[:tag_id] %>
  <h3>部屋をこだわりたい!</h3>
  <%=f.collection_check_boxes :tag_id, @room_tags, :id, :name, checked: params[:tag_id] %>
  <h3>建物をこだわりたい!</h3>
  <%=f.collection_check_boxes :tag_id, @building_tags,:id, :name, checked: params[:tag_id] %>
  <h3>周辺環境をこだわりたい!</h3>
  <%=f.collection_check_boxes :tag_id, @surrounding_tags, :id, :name, checked: params[:tag_id] %>
  <h3>プライベートを重視したい!</h3>
  <%=f.collection_check_boxes :tag, @individual_tags, :id, :name, checked: params[:tag_id] %>
  <h3>共有設備をこだわりたい!</h3>
  <%=f.collection_check_boxes :tag_id, @shared_facility_tags, :id, :name, checked: params[:tag_id] %>
  <h3><%=f.submit 'この条件で検索'%></h3>
<%end%>



