<h2><%=@property.property_name%></h2>
<p><%=image_tag @property.image%></p>
<%#=画像いっぱい載せる%>
<p><%=@property.introduction%></p>

<h3>物件概要</h3>
<table>
    <tr><th>賃料/共益費</th><td><%=@property.rent%>/<%=@property.common_service_fee%></td></tr>
    <tr><th>住所</th><td><%=@property.address%></td></tr>
    <tr><th>アクセス</th><td><%=@property.access%></td></tr>
    <tr><th>入居条件</th><td><%=@property.condition%></td></tr>
    <tr><th>空室</th></th><td><%=@property.vacancy%></td></tr>
</table>


<h3>共有設備</h3>
<table>
    <tr><th>リビング</th><td><%=@property.living%></td></tr>
    <tr><th>キッチン</th><td><%=@property.kitchen%></td></tr>
    <tr><th>バス</th><td><%=@property.bath%></td></tr>
    <tr><th>トイレ</th><td><%=@property.toilet%></td></tr>
    <tr><th>その他</th></th><td><%=@property.others%></td></tr>
</table>

<h3>部屋情報</h3>
<table>
    <tr><th>部屋設備</th><td><%=@property.room_facility%></td></tr>
</table>

<%=link_to '口コミを投稿する',  property_reviews_choose_path(@property.id)%>
<%=link_to '口コミを見る',  property_reviews_path(@property.id)%>
<%=link_to '質問をする', new_property_question_path(@property.id)%>
<%=link_to '質問に答える', property_questions_path(@property.id)%>

