

<div class="slicker w-8s5 d-flex mx-auto align-items-center">
  <% @property.images.first(2).each do |image| %>

      <%=image_tag image, class:'slide_picture'%>

  <%end%>
</div>
<div class="text-center mb-5">
  <%= @property.property_name %>
  <p><%= @property.introduction %></p>

<% @property.tags.each do |tag| %>
  <%= tag.name %>
<%end%>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h3>共有設備</h3>
    </div>
   <div class="col-6">
    <h3>リビング</h3>
    <p><%= image_tag @property.images[0],size: '400x230' %></p>
    <p><%= @property.living%></p>
  </div>
  <div class="col-6">
    <h3>キッチン</h3>
    <p><%= image_tag @property.images[2],size: '400x230'  %></p>
    <p><%= @property.kitchen%></p>
  </div>
  </div>
  <div class ="row mt-5">
  <div class="col-4">
    <h3>浴室</h3>
    <p><%= image_tag @property.images[3],size: '250x230' %></p>
    <p><%= @property.bath%></p>
  </div>
  <div class="col-4">
  <h3>洗濯機</h3>
    <p><%= image_tag @property.images[4],size: '250x230' %></p>
    <p><%= @property.washing_machine %></p>
  </div>
  <div class="col-4">
  <h3>トイレ</h3>
    <p><%= image_tag @property.images[5],size: '250x230' %></p>
    <p><%= @property.toilet %></p>
    </div>
  </div>
</div>

<h3>部屋</h3>
<p>空室<%= @property.vacancy %></p>
<p>入居条件<%= @property.condition %></p>

<table>
  <thead>
    <th>広さ</th>
    <th>賃料</th>
    <th>共益費</th>
  </thead>
  <yody>
    <td><%= @property.breadth %></td>
    <td><%= @property.rent %></td>
    <td><%= @property.common_service_fee %></td>
  </yody>
</table>
<%= image_tag @property.images[6],size: '350x230'%>
<p><%= @property.room_facility %></p>

<h2>アクセス</h2>
<p><%= @property.address %></p>
<p><%= @property.access %></p>
<p><%=link_to "地図を見る",map_path(@property.id)%></p>

<div class="text-center">
  <div class="fixed-bottom">
    <%= link_to "お問い合わせ",new_property_contact_path(@property.id) %>
  </div>
</div>


<%= render "/user/properties/tab" %>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!----サイトからダウンロードしたできているjavascriptを読み込む-->

<script>
  var $jq = jQuery.noConflict();
  $jq(document).on('DOMContentLoaded', function(){
  $jq('.slicker').slick({
    autoplay:true,
    autoplaySpeed: 3000,
    dots:true,
    prevArrow:'<i class="fas fa-arrow-alt-circle-left mr-2"></i>',
    nextArrow:'<i class="fas fa-arrow-alt-circle-right ml-2"></i>'
  });

});
</script>





<%#=link_to '口コミを投稿する',   new_property_review_path(@property.id)%>
<%#=link_to '口コミを見る',  property_reviews_path(@property.id)%>
<%#=link_to '質問をする', new_property_question_path(@property.id)%>
<%#=link_to 'Q&A', property_questions_path(@property.id)%>



<p><%= @property.cleaning_support %></p>