
<% @property.images.first(2).each do |image| %>
  <%= image_tag image%>
<%end%>
<%= @property.property_name %>

<p><%= @property.introduction %></p>
<% @property.tags.each do |tag| %>
  <%= tag.name %>
<%end%>

<h3>共有設備</h3>
<p><%= @property.cleaning_support %></p>
<h3>リビング</h3>
<p><%= image_tag @property.images[2] %></p>
<p><%= @property.living%></p>
<h3>キッチン</h3>
<p><%= image_tag @property.images[3] %></p>
<p><%= @property.kitchen%></p>
<h3>浴室</h3>
<p><%= image_tag @property.images[4]%></p>
<p><%= @property.bath%></p>
<h3>洗面所</h3>
<p><%= image_tag @property.images[4] %></p>
<p><%= @property.wash_room %></p>
<h3>洗濯機</h3>
<p><%= image_tag @property.images[4]%></p>
<p><%= @property.washing_machine %></p>
<h3>トイレ</h3>
<p><%= image_tag @property.images[4]%></p>
<p><%= @property.toilet %></p>

<h3>部屋</h3>
<p>空室<%= @property.vacancy %></p>
<p>入居条件<%= @property.condition %></p>

<table>
  <thead>
    <th>広さ</th>
    <th>賃料</th>
    <th>共益費</th>
  </thead>
  <yody>
    <td><%= @property.breadth %></td>
    <td><%= @property.rent %></td>
    <td><%= @property.common_service_fee %></td>
  </yody>
</table>
<%= image_tag @property.images[4]%>
<%= @property.room_facility %>

<h2>アクセス</h2>
<p><%= @property.address %></p>
<p><%= @property.access %></p>
<p><%=link_to "地図を見る",map_path(@property.id)%></p>


<%= link_to "お問い合わせ",new_property_contact_path(@property.id) %>



<%= render "/user/properties/tab" %>








<%#=link_to '口コミを投稿する',   new_property_review_path(@property.id)%>
<%#=link_to '口コミを見る',  property_reviews_path(@property.id)%>
<%#=link_to '質問をする', new_property_question_path(@property.id)%>
<%#=link_to 'Q&A', property_questions_path(@property.id)%>



