<%=@property.introduction%>



<h3>共有設備</h3>
<table>
    <tr><th>リビング</th><td><%=@property.living%></td></tr>
    <tr><th>キッチン</th><td><%=@property.kitchen%></td></tr>
    <tr><th>バス</th><td><%=@property.bath%></td></tr>
    <tr><th>トイレ</th><td><%=@property.toilet%></td></tr>
    <tr><th>その他</th></th><td><%=@property.others%></td></tr>
</table>
