<!DOCTYPE html>
<html>
  <head>
    <title>BestHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/801a1ac1e5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <%#ブートストラップ使う場合外す%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class ="wrapper">
    <header>
      <h1>BestHouse</h1>
    </header>
      <ul class="d-flex justify-content-center">
      <% if user_signed_in? %>

        <li class=" flex-fill">
          <%=link_to"シェアハウスを探す",root_path%>
        </li>
        <li class=" flex-fill">
          <%= link_to "お気に入り", favorite_path %>
        </li>
        <li class=" flex-fill">
          <%= link_to "マイページ",user_path %>
        </li>
        <li class=" flex-fill">
          <%= link_to"通知",notifications_path %>
          <%= current_user.passive_notifications.where(checked: false).size %>
        </li>
        <li class=" flex-fill">
          <%= link_to"閲覧履歴",histories_path %>
        </li>
        <li class=" flex-fill">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% elsif admin_signed_in? %>
        <li class=" flex-fill">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <li class=" flex-fill">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class=" flex-fill">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li class=" flex-fill">
          <%=link_to 'ゲストログイン', users_guest_login_path, method: :post %>
        </li>
        <li class=" flex-fill">
          <%=link_to"シェアハウスを探す",root_path%>
        </li>
      <% end %>
    </ul>
    <%= yield %>
    </div>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!--javascriptはbodtyタグの終了直前に読む-->

    <script>
       let elem = document.getElementById('post_raty');
         // scriptファイルをどのidの部分に配置するかを指定
       let opt = {
         starType: 'img',
         score: 5,
         scoreName: 'review[score]',
         path: '/assets',
        };
      raty(elem,opt);
    </script>
    <script>
       let elem2 = document.getElementById('show_raty');
       let avgScore = elem2.dataset.avgScore
         // scriptファイルをどのidの部分に配置するかを指定
       let opt2 = {
         starType: 'img',
         readOnly: true,
         score: avgScore,
         path: '/assets',
        };
      raty(elem2,opt2);
    </script>
  </body>


</html>
