<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>


    <title>BestHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/801a1ac1e5.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all'%> <%#ブートストラップ使う場合外す%>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>

    <div class ="wrapper small-wrapper">
      <header>
        <h1 class="name">BestHouse</h1><h5 class="text-center"><%= flash[:notice] %></h5>
      </header>
      <ul class="header small-header justify-content-center mt-5 ml-4">
        <% if user_signed_in? %>
          <li class=" flex-fill all">
            <%= link_to"物件を探す",root_path %>
          </li>
          <li class=" flex-fill all">
            <%= link_to "お気に入り", favorite_path %>
          </li>
          <li class=" flex-fill all">
            <%unless current_user.email == "guest@example.com"%>
              <%= link_to "マイページ",user_path %>
            <%end%>
          </li>
          <li class=" flex-fill all">
            <%= link_to"通知",notifications_path %>
              <% if current_user.passive_notifications.where(checked: false).size > 0 %>
                <div class="count"><%= current_user.passive_notifications.where(checked: false).size %></div>
              <% end %>
          </li>
          <li class=" flex-fill all">
            <%= link_to"閲覧履歴",histories_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% elsif admin_signed_in? %>
          <li class=" flex-fill">
            <%= link_to "ユーザー一覧",admin_users_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to "レビュー一覧",admin_reviews_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to "Q＆A一覧", admin_questions_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to "ハウスルール一覧",admin_rules_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to "お問い合わせ一覧",admin_contacts_path %>
          </li>
           <li class=" flex-fill">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
        <% else %>
          <li class=" flex-fill">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <li class=" flex-fill">
            <%= link_to 'ゲストログイン', users_guest_login_path, method: :post %>
          </li>
          <li class=" flex-fill">
            <%= link_to"物件を探す",root_path %>
          </li>
        <% end %>
      </ul>
      <%= yield %>
    </div>

<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!--javascriptはbodtyタグの終了直前に読む-->

    <script>
       // ID属性がpost_ratyのHTMLタグを取得する
       let elem = document.getElementById('post_raty');
       // scriptファイルをどのidの部分に配置するかを指定
       let opt = {
         starType: 'img',
         score: 5,
         scoreName: 'review[score]',
         starOn: "<%= asset_path('star-on.png') %>",
         starOff: "<%= asset_path('star-off.png') %>",
         starHalf: "<%= asset_path('star-half.png') %>",
        };
       raty(elem,opt);
    </script>
    <script>
       // ID属性がshow_ratyのHTMLタグを取得する
       let elem2 = document.getElementById('show_raty');
       let avgScore = elem2 !== null ? elem2.dataset.avgScore : "0";
       // scriptファイルをどのidの部分に配置するかを指定
       let opt2 = {
         starType: 'img',
         readOnly: true,
         score: avgScore,
         starOn: "<%= asset_path('star-on.png') %>",
         starOff: "<%= asset_path('star-off.png') %>",
         starHalf: "<%= asset_path('star-half.png') %>",
        };
       raty(elem2,opt2);
    </script>
  </body>


</html>
