<!DOCTYPE html>
<html>
  <head>
    <title>BestHouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%=link_to"シェアハウスを探す",root_path%>
          <%= link_to "お気に入り", favorite_path %>
          <%= link_to "マイページ",user_path %>
          <%= link_to"通知",notifications_path %>
          <%= current_user.passive_notifications.where(checked: false).size %>
          <%= link_to"閲覧履歴",histories_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% elsif admin_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%=link_to"シェアハウスを探す",root_path%>
        </li>
      <% end %>
    </header>
    <%= yield %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!--javascriptはbodtyタグの終了直前に読む-->
  </body>


</html>
